@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.woff2') format('woff2'),
      url('./assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Bold.woff2') format('woff2'),
      url('./assets/fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  min-height: 100vh;
}

main{
  flex: 1;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.container{
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}